button {
  text-align: center;
  padding: 5px;
  margin: 0px 10px;
}

.App {
  text-align: center;
}

/* .pastry {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
} */

.rules {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

.bread {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.pastry {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.CC {
  display: block;
  max-width: 28%;
  margin: 10px;
  padding: 10px;
  justify-content: center;
}

.CC image {
  display: flex;
  justify-content: center;
  padding: 5px;
}

/* .SS {
  display: block;
  max-width: 28%;
  margin: 10px;
  padding: 10px;
  justify-content: center;
} */